:root {
  --bg-color: #f5f5f5;
  --todoapp-bg: #fff;
  --text-color: #4d4d4d;
  --text-light: #e6e6e6;
  --placeholder-color: #e6e6e6;
  --border-color: #ededed;
  --completed-color: #d9d9d9;
  --link-color: inherit;
  --link-selected: rgba(175, 47, 47, 0.2);
  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  --destroy-color: #cc9a9a;
  --destroy-hover: #af5b5e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}
